# UNLOCK: auto-locate the Ventoy grub config directory.
search --no-floppy --set=vt_root --file /grub/grub.cfg
if [ -z "$vt_root" ]; then
    search --no-floppy --set=vt_root --label VTOYEFI
fi
set prefix=($vt_root)/grub